@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@if (UserStateContainer.IsPopulated)
{
    <MudLayout>
        <MudAppBar Elevation="4">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => isDrawerOpen = !isDrawerOpen)" />
            <MudSpacer />
            @* <UserProfile /> *@
            <MudDrawer @bind-Open="isDrawerOpen" ClipMode="DrawerClipMode.Docked" Elevation="8">
                <NavMenu />
            </MudDrawer>
        </MudAppBar>
        <MudMainContent>
            <MudOverlay Visible="IsLoading" ZIndex="1010" LightBackground Absolute="true">
                <MudProgressCircular Size="@Size.Large" Indeterminate="true" Color="@Color.Primary" />
            </MudOverlay>
            @Body
        </MudMainContent>
    </MudLayout>
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
