@inherits ExtendedComponentBase
@inject ProtectedLocalStorage ProtectedLocalStorage

@*<span class="user-full-name">@FullName</span>*@
<MudMenu AnchorOrigin="Origin.BottomRight">
    <ActivatorContent>
        <MudAvatar Color="Color.Secondary">@Initials</MudAvatar>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem Href="/profile">Profile</MudMenuItem>
        <MudMenuItem OnClick="LogoutHandler">Logout</MudMenuItem>
    </ChildContent>
</MudMenu>

@code {


    protected string FullName { get; set; } = default!;

    protected override void OnInitialized()
    {
        FullName = UserStateContainer.FullName;

        base.OnInitialized();
    }

    private string Initials
    {
        get
        {
            var names = FullName.Split(" ", StringSplitOptions.RemoveEmptyEntries);

            if (names.Length > 1)
                return names[0].Substring(0, 1) + names.Last().Substring(0, 1);
            else
                return names[0].Substring(0, 1);
        }
    }

    private async Task LogoutHandler()
    {
        await LocalStorage.DeleteAsync(Constants.ACCESS_TOKEN_KEY);

        NavigationManager.NavigateTo("account/login", forceLoad: true);
    }
}

