@inherits ExtendedComponentBase

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h5" Class="mb-4">Add Absence</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm @ref="FormRef" Class="custom-form">
            @* Form Items Here *@
        </MudForm>
        <div style="width: 800px; height: 300px;">
            Content here
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@SubmitHandler" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
            @("Submit")
        </MudButton>
        <MudButton OnClick="CancelHandler" Variant="Variant.Text" Class="mt-4 ml-2">
            @("Cancel")
        </MudButton>
    </DialogActions>
</MudDialog>